<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.murallaromana.dam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/recafilms"
        android:label="RecaFilms"
        android:roundIcon="@mipmap/recafilms"
        android:supportsRtl="true"
        android:theme="@style/Theme.VinaLopezAntonioProyectoPMDM">
        <activity
            android:name=".activities.DetallesActivity"
            android:label="Informacion pelicula"
            android:exported="true"
            android:parentActivityName=".activities.ListaPeliculasActivity"
            android:configChanges="screenSize|orientation"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".activities.RegistroActivity"
            android:label="Registro"
            android:exported="true"
            android:parentActivityName=".activities.LoginActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:label="Recafilms">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ListaPeliculasActivity"
            android:label="Listado Peliculas"
             />
    </application>

</manifest>